*{
    margin: 0;
    padding: 0;
}


html{
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.entire-card{
    /* border: 3px solid red; */
    margin-top: 100px;
    margin-left: 535px;
    justify-content: center;
    align-items: center;
    background-color: hsl(215, 54%, 22%);
    width: 294px;
    /* margin: auto; */
    padding-top: 20px;
    align-items: center;
    /* place-items: center; */
    height: 440px;
    border-radius: 20px;
    font-family: Outfit;
  
}

.the-joker img{
    /* border: 8px solid teal; */
    height: 20px;
    
}

.entire-card .actual-product img{
    /* border: 4px solid blue; */
    height: 210px;
    display: block;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

section .card-title{
    margin-left: 42px;
    font-weight: bold;
    font-weight: 600%;

}

section p{
    margin-left: 42px;
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}

section .the-joker{
    margin-left: 42px;
}

section .the-clock{
    /* border: 2px solid green; */
    padding-top: 9px ;
    margin-left: 47px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}

section .the-currency{
    /* border: 2px solid green; */
    margin-right: 5px;
    font-size: 50%;
    color: hsl(215, 51%, 70%);
}

section .the-price{
    /* color: red; */
    /* border: 2px solid teal; */
    font-size: 12.5px;
    font-weight: bold;
    display: inline;
    color: hsl(178, 100%, 50%);
}

section .the-joker{
    /* border: 2px solid green; */
    font-size: 15px;
    margin-right: 5px;
}

section .the-creator{
    font-size: 12.5px;
    color: hsl(215, 51%, 70%);
    
}

section .author-name{
    font-size: 12.5px;
}

section .seperator-line{
  height: 1px;
  background: hsl(215, 51%, 70%);
  width: 190px;
  /* border: 2px solid lime; */
  margin: auto;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }